body {
	background: $mauve1;
	color: $slate12;
	font: 100%/1.5 sans-serif;
}

header {
	margin-inline: auto;
	max-width: 1145px;
	padding-inline: $space5;
	text-align: center;
}

header h1 {
	font-size: $fontSize9;
	line-height: $lineSize9;
	margin-block: $lineSize9 0;
}

header p {
	color: $sage11;
	font-size: $fontSize6;
	line-height: $lineSize6;
	margin-block: $lineSize6 0;
}
